<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Tumor Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
</head>
<body>

<header>
    <h2>Brain Tumor Detection</h2>
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <button class="login-btn">Login</button>
    </nav>
</header>

<section class="hero">
    
    <div class="left">
        <h1>Brain Tumor </h1>
        <h1><span class="Detection">Detection</span></h1>
        
        <p>Accurate Detection of Brain Tumors Using MRI Scans</p>
    </div>

    <div class="upload-box">
        <form action="/analyze" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput" required>
            <label for="fileInput">Drag & Drop or Browse File</label>
            <button type="submit">Analyze</button>
        </form>
    </div>

</section>


<!-- FEATURES BELOW -->
<section class="features">
    <div class="card">
        <h3>Fast & Accurate</h3>
        <p>Get results quickly with high precision.</p>
    </div>

    <div class="card">
        <h3>AI Powered</h3>
        <p>Advanced AI algorithms for tumor detection.</p>
    </div>

    <div class="card">
        <h3>Easy to Use</h3>
        <p>Simple and user-friendly interface.</p>
    </div>
</section>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>